DATABASE_URL=""
JWT_SECRET_KEY=""

MAIL_SMTP_SERVICE="Gmail"
MAIL_SMTP_HOST="smtp.gmail.com"
MAIL_SMTP_PORT="465"
MAIL_SMTP_SECURE="true"
MAIL_SMTP_PASS=""
MAIL_SMTP_USER=""
# ALLOW_DEBUG_OTP="false"

NEXT_PUBLIC_URL=""
